<%=link_to "Back to Home Page", root_path, class:"btn btn-success m-3", style:"float:right;"%>
<h2 class="p-3" style=" color: #31817e"><%= @idea.title %></h2>
<p class = "p-3" ><%= @idea.description %></p>
<p class = "p-3">
  <small>Idea belongs to: <%=@idea.user.full_name%> <br>
  </small>
  <small>Number of likes: <%=@idea.likes.count%></small> <br>
  <small>Created at: <%= @idea.created_at %></small>
</p>
<div class="d-flex p-3">
  <%if can? :crud, @idea%>
    <%= button_to "Edit", edit_idea_path(@idea), method: :get, class: "btn btn-outline-success", style: "margin-right:5px;"%>
    <%= button_to 'Delete', idea_path(@idea), method: :delete, class: "btn btn-outline-success", form: {data: {turbo_confirm: "Are you sure?"}} %>
  <% end %>
</div>
<% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="p-3">
  <%=form_with(model: [@idea, @review]) do |f| %>
    <div>
      <span style="font-size:25px;"><%= f.label :body, "Review"%></span>
      <br>
      <%= f.text_area :body, rows: 5, :placeholder => " What's on your mind?", style: "width: 100%" %>
    </div>
    <%= f.submit "Submit", class: "btn btn-outline-success"%>
  <% end %>
</div>
<% @reviews.each do |review| %>
  <div class="p-3 d-flex flex-column" style="flex-wrap: wrap;">
    <p> <%= review.body %></p>
    <p style="font-size: 12.5px;">
      Reviewed <%= time_ago_in_words(review.created_at)%> ago by: <%=review.user.full_name%>
      <%if can? :crud, review%>•
        <%= link_to "Delete", idea_review_path(@idea.id,review.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style: "text-decoration: none; color:#31817e " %>
      <% end %>
    </p>
  </div>
<% end %>
